<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Web autenticación para repartidor de mensajería</h1>
    <form action="/courrierLogin" method="POST">
        <input type="text" name="username">
        <input type="password" name="pass">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>